* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.divCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 30px 0px;
}

@media only screen and (max-width: 600px) {
    .divCenter {
        height: auto;
    }
}

#BMIIndex,
#title,
#averageWeight {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f8f9fa;
    margin-top: 10px;
}

.chartImg {
    width: 100%;
    height: 100%;
}