* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.divCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#BMIIndex, #title, #averageWeight {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f8f9fa;
    margin-top: 10px;
}
